@import '../../../trunks-ui/trunksui'

.side-menu
    position: fixed
    left: 0px
    top:64px
    width: 200px
    border-right: $border-default
    font-size: 14px
    font-weight: 400
    display: flex
    flex-direction: column
    padding-bottom: 78px
    border-bottom: $border-default
    overflow: overlay

    .menu-item
        color: $default-darkest
        padding: 12px 0px 12px 28px
        border-radius: 4px
        box-sizing: border-box
        &:hover
            cursor: pointer
            color: $blue-color
    .menu-item-selected
            color: $blue-color
.menu-divider
    height: 1px
    background-color: $default-lighter

.display-area
    display: relative
    height: 100%
    top: 0px
    overflow-y: scroll
    padding: 36px 0px 64px 248px
    flex-grow: 1
.page-container
    display: flex
    flex-direction: row
    position: sticky
    top: 0px
    height:100%
    width: 100%

.display-container
  display: flex
  position: relative
  flex-direction: row
  border-radius: .25rem
  padding: 2rem
  justify-content: flex-start
  flex-wrap: wrap
  align-items: center
  width: fit-content
