@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

html

body
    font-family: 'Mulish', sans-serif



#root
    height: 100vh
    display: grid
    grid-template-columns: repeat(24,1fr)
    grid-template-rows: repeat(24,1fr)
    overflow: hidden
    padding: 0
    margin: 0
a
    text-decoration: none

// MIXINS

@mixin flex-row
    display: flex
    flex-direction: row

@mixin border-default
    border-radius: .25rem
    box-sizing: border-box
    border: 1px solid $default-lighter


// COLORS
    
$black: #000
$white: #FFF

$default-color: #9E9E9E
$default-light: #BDBDBD
$default-lighter: #E0E0E0
$default-ultralight: #F5F5F5
$default-lightest: #FAFAFA
$default-dark: #616161
$default-darkest: #212121

$red-color: #F44336
$red-light: #EF5350
$red-lighter: #E57373
$red-ultralight: #FFCDD2
$red-lightest: #FFEBEE
$red-dark: #D32F2F
$red-darkest: #B71C1C

$pink-color: #E91E63
$pink-light: #EC407A
$pink-lighter: #F06292
$pink-ultralight: #F8BBD0
$pink-lightest: #FCE4EC
$pink-dark: #C2185B
$pink-darkest: #880E4F

$purple-color: #9C27B0 //500
$purple-light: #AB47BC //400
$purple-lighter: #BA68C8 //300
$purple-ultralight: #E1BEE7 //100
$purple-lightest: #F3E5F5 //50
$purple-dark: #7B1FA2 //700
$purple-darkest: #4A148C //900

$deeppurple-color: #673AB7 
$deeppurple-light: #7E57C2 
$deeppurple-lighter: #9575CD 
$deeppurple-ultralight: #D1C4E9 
$deeppurple-lightest: #EDE7F6
$deeppurple-dark: #512DA8 
$deeppurple-darkest: #311B92 

$indigo-color: #3F51B5 
$indigo-light: #5C6BC0 
$indigo-lighter: #7986CB 
$indigo-ultralight: #C5CAE9 
$indigo-lightest: #E8EAF6
$indigo-dark: #303F9F 
$indigo-darkest: #1A237E 

$blue-color: #2196F3 
$blue-light: #42A5F5 
$blue-lighter: #64b5f6 
$blue-ultralight: #BBDEFB 
$blue-lightest: #E3F2FD
$blue-dark: #1976D2 
$blue-darkest: #0D47A1 

$lightblue-color: #03A9F4 
$lightblue-light: #29B6F6 
$lightblue-lighter: #4FC3F7 
$lightblue-ultralight: #B3E5FC 
$lightblue-lightest: #E1F5FE
$lightblue-dark: #0288D1 
$lightblue-darkest: #01579B 

$cyan-color: #00BCD4 
$cyan-light: #26C6DA 
$cyan-lighter: #4DD0E1 
$cyan-ultralight: #B2EBF2 
$cyan-lightest: #E0F7FA
$cyan-dark: #0097A7 
$cyan-darkest: #006064 

$teal-color: #009688 
$teal-light: #26A69A 
$teal-lighter: #4DB6AC 
$teal-ultralight: #B2DFDB 
$teal-lightest: #E0F2F1
$teal-dark: #00796B 
$teal-darkest: #004D40 

$green-color: #4CAF50 
$green-light: #66BB6A 
$green-lighter: #81C784 
$green-ultralight: #C8E6C9 
$green-lightest: #E8F5E9
$green-dark: #388E3C 
$green-darkest: #1B5E20 

$lightgreen-color: #8BC34A 
$lightgreen-light: #9CCC65 
$lightgreen-lighter: #AED581 
$lightgreen-ultralight: #DCEDC8 
$lightgreen-lightest: #F9FBE7
$lightgreen-dark: #AFB42B 
$lightgreen-darkest: #827717 

$lime-color: #CDDC39 
$lime-light: #D4E157 
$lime-lighter: #DCE775 
$lime-ultralight: #DCEDC8 
$lime-lightest: #F1F8E9
$lime-dark: #689F38 
$lime-darkest: #33691E 

$yellow-color: #FFEB3B 
$yellow-light: #FFEE58 
$yellow-lighter: #FFF176 
$yellow-ultralight: #FFF9C4 
$yellow-lightest: #FFFDE7
$yellow-dark: #FBC02D 
$yellow-darkest: #F57F17 

$amber-color: #FF9800
$amber-light: #FFA726
$amber-lighter: #FF8A65
$amber-ultralight: #FFE0B2
$amber-lightest: #FFF3E0
$amber-dark: #F57C00
$amber-darkest: #FF6F00

$orange-color: #FF9800 
$orange-light: #FFA726 
$orange-lighter: #FFB74D 
$orange-ultralight: #FFE0B2 
$orange-lightest: #FFF3E0
$orange-dark: #F57C00 
$orange-darkest: #E65100 

$deeporange-color: #FF5722 
$deeporange-light: #FF7043 
$deeporange-lighter: #FF8A65 
$deeporange-ultralight: #FFCCBC 
$deeporange-lightest: #FBE9E7
$deeporange-dark: #E64A19 
$deeporange-darkest: #BF360C 

$brown-color: #795548 
$brown-light: #8D6E63 
$brown-lighter: #A1887F 
$brown-ultralight: #D7CCC8 
$brown-lightest: #EFEBE9
$brown-dark: #5D4037 
$brown-darkest: #3E2723 

// VARIABLES

$text-default: $default-darkest
$text-secondary: $default-color
$text-success: #4CAF50
$text-warning: $amber-color
$text-danger: $red-color
$text-disabled: $default-light
$text-spacer: .5px
$text-shadows: 0.5px -1px rgba(0, 0, 0, 12%)

// FONT

$font-default: 'Mulish', sans-serif
$font-size-small: .75rem
$font-size-default: .875rem
$font-size-h3: 1rem

$font-regular: 400
$font-semi-bold: 600
$font-bold: 800

// SHADOWS

$shadow-default: 0px 2px 4px 0px rgba(0, 0, 0, 4%)
$shadow-hover-light: 0px 4px 4px 0px rgba(0, 0, 0, 4%)
$shadow-inset: 0px 4px 4px 0px rgba(0, 0, 0, 4%) inset
$shadow-heavy: 0px 2px 12px 2px rgba(0, 0, 0, 8%)

// BORDERS

$border-default: 1px solid $default-lighter
$border-default-dashed: 1px dashed $default-light

$border-blue: 1px solid  #2196F3
$border-blue-dark: 1px solid #1976D2
$border-blue-light: 1px solid #64b5f6
$border-dashed-blue-hover: 1px dashed #2196F3

$border-red: 1px solid  #F44336
$border-red-dark: 1px solid #D32F2F
$border-red-light: 1px solid #EF5350
$border-dashed-red: 1px dashed #F44336
$border-dashed-red-hover: 1px dashed #EF5350

$border-amber: 1px solid  #FF9800
$border-amber-dark: 1px solid #F57C00
$border-amber-light: 1px solid #FFA726
$border-dashed-amber: 1px dashed #FF9800
$border-dashed-amber-hover: 1px dashed #FFA726

$border-radius: .25rem


// ANIMATION

$transistion-default: 0.5s
$transition-quick: 0.25s
$transition-slow: 1s
