@use '../trunksui'

@keyframes checkClick
    0%
        box-shadow: 0px 0px 0px 0px rgba(30, 136, 229, 60%), trunksui.$shadow-hover-light
    50%
        box-shadow: 0px 0px 0px 3px rgba(30, 136, 229, 30%), trunksui.$shadow-hover-light
    100%
        box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0%), trunksui.$shadow-hover-light

@keyframes switchClickOn
    0%
        left: 2px
        background: trunksui.$default-lightest
    50%
        width: 24px
    100%
        left: 34px

@keyframes switchClickOnSmall
    0%
        left: 2px
        background: trunksui.$default-lightest
    50%
        width: 16px
    100%
        left: 23px

@keyframes switchClickOff
    0%
        left: 34px
        background: trunksui.$default-lightest
    50%
        width: 24px
    100%
        left: 2px
        background: trunksui.$default-lightest

@keyframes switchClickOffSmall
    0%
        left: 23px
        background: trunksui.$default-lightest
    50%
        width: 16px
    100%
        left: 1px
        background: trunksui.$default-lightest
        



.checkbox-container
    @include trunksui.flex-row    
    align-items: center
    input
        position: absolute
        opacity: 0
        cursor: pointer
        height: 0
        width: 0
    &:hover
        cursor: pointer
    .checkbox
        position: relative
        height: 1rem
        width: 1rem
        border: trunksui.$border-default
        border-radius: .25rem
        background: trunksui.$default-lightest
        margin-right: .5rem
        transition: trunksui.$transition-quick
        box-shadow: trunksui.$shadow-default
    &:hover .checkbox
        border: trunksui.$border-blue
        box-shadow: trunksui.$shadow-hover-light
    &.true .checkbox
        background: trunksui.$blue-color
        border: trunksui.$border-blue-dark
        animation: checkClick
        animation-duration: .3s
        animation-delay: .1s
    &:hover.true .checkbox
        background: trunksui.$blue-light
    .checkbox-label
        color: trunksui.$default-darkest
        font-size: .875rem
        font-weight: trunksui.$font-semi-bold
        transition: trunksui.$transition-quick
        user-select: none
    &.true.faded .checkbox-label
        color: trunksui.$default-light
    &.true.strike .checkbox-label
        text-decoration: line-through
        text-decoration-color: trunksui.$default-darkest
    &.true.strikefaded .checkbox-label
        text-decoration: line-through
        text-decoration-color: trunksui.$default-light
        color: trunksui.$default-light
        
    .checkmark
        display: none
        position: absolute
        top: 2px
        left: 2px
        height: 8px
        width: 12px
        box-sizing: border-box
        border-right: 3px solid white
        border-top: 3px solid white
        border-radius: 0px
        transform: rotate(140deg)
        transition: .2s
    &.true .checkmark
        display: block
.switch-container
    @include trunksui.flex-row    
    align-items: center
    &:hover
        cursor: pointer
    .switch
        position: relative
        height: 24px
        width: 56px
        box-shadow: trunksui.$shadow-default
        border-radius: 1rem
        background: trunksui.$default-lighter
        border: 2px solid trunksui.$default-lighter
        margin-left: .5rem
        transition: trunksui.$transistion-default
    &.disabled .switch
        background: trunksui.$default-ultralight
        border: 2px solid trunksui.$default-ultralight
    &.true.disabled .switch
        background: trunksui.$blue-ultralight
        border: 2px solid trunksui.$blue-ultralight
    &.small .switch
        height: 14px
        width: 36px
    &:hover:not(.disabled) .switch
        border: 2px solid trunksui.$default-lighter
    &.true .switch
        background: trunksui.$blue-color
        border: 2px solid trunksui.$blue-color
        animation: checkClick
        animation-duration: .3s
        animation-delay: .12s
    &:hover.true:not(.disabled) .switch
        background: trunksui.$blue-light
        box-shadow: trunksui.$shadow-hover-light
        border: 2px solid trunksui.$blue-light
    .switch-label
        color: trunksui.$default-darkest
        font-size: .875rem
        font-weight: trunksui.$font-semi-bold
        transition: trunksui.$transition-quick
        user-select: none
    &.true.faded .switch-label
        color: trunksui.$default-light
    &.true.strike .switch-label
        text-decoration: line-through
        text-decoration-color: trunksui.$default-darkest
    &.true.strikefaded .switch-label
        text-decoration: line-through
        text-decoration-color: trunksui.$default-light
        color: trunksui.$default-light
        
    .switchmark
        display: block
        position: absolute
        top: 2px
        height: 20px
        width: 20px
        border-radius: 100%
        background: trunksui.$white
        border: 1px solid trunksui.$default-lightest
        box-sizing: border-box
        transition: all .3s ease-in-out
        box-shadow: trunksui.$shadow-default
    &.small .switchmark
        height: 12px
        width: 12px
        top: 1px
        left: 1px
    &.true .switchmark
        animation: switchClickOn
        animation-duration: .3s
        animation-fill-mode: forwards
        animation-timing-function: ease-in-out
    &.true.small .switchmark
        animation: switchClickOnSmall
        animation-duration: .3s
        animation-fill-mode: forwards
        animation-timing-function: ease-in-out
    &.false .switchmark
        animation: switchClickOff
        animation-duration: .3s
        animation-fill-mode: forwards
        animation-timing-function: ease-in-out
    &.false.small .switchmark
        animation: switchClickOffSmall
        animation-duration: .3s
        animation-fill-mode: forwards
        animation-timing-function: ease-in-out

.tilecb-container
    display: flex
    align-items: center
    justify-content: center
    border: trunksui.$border-default
    border-radius: 8px
    height: 64px
    width: 64px
    box-shadow: trunksui.$shadow-default
    transition: .3s
    position: relative
    &.small
        height: 32px
        width: 32px
    
    &:hover
        box-shadow: trunksui.$shadow-hover-light
        transform: translateY(-2px)
        .tilecb
            border: trunksui.$border-blue
    &[mousePress-="true"]
        background-color: trunksui.$default-ultralight
    &.true 
        border: trunksui.$border-blue
        animation: checkClick
        animation-duration: .3s
        .tilecb-icon
            color: trunksui.$blue-color
    .tilecb-icon
        display: flex
        align-items: center
        justify-content: center
        height: 32px
        width: 32px
        color: trunksui.$default-dark
        transition: .3s
    &.small .tilecb-icon
        height: 16px
        width: 16px
