.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row > * {
    margin: 0px 8px;
}
.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;
}

.flex-col > * {
    margin: 8px 0px;
}

.wrap-true {
    flex-wrap: wrap;
}

.grow-1 {
    flex-grow: 1;
}
.grow-2 {
    flex-grow: 2;
}
.grow-3 {
    flex-grow: 3;
}
.grow-4 {
    flex-grow: 4;
}
.grow-5 {
    flex-grow: 5;
}
.grow-6 {
    flex-grow: 6;
}