@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@keyframes selectListDropdown {
  0% {
    height: 0px;
    overflow: hidden;
  }
  100% {
    height: 197px;
  }
}
.select {
  display: flex;
  flex-direction: column;
  width: 300px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #424242;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 4%);
  position: relative;
  height: fit-content;
}

.select-box {
  width: 100%;
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 0px 8px 0px 8px;
  height: 32px;
  box-sizing: border-box;
  align-items: center;
  background: white;
  z-index: 5;
}

.select-box[clicked-="true"] {
  border: 1px solid #2196f3;
  border-bottom: none;
  padding-bottom: 1px;
  border-radius: 4px 4px 0px 0px;
}

.select-box[clicked-="true"]:hover {
  border: 1px solid #2196f3;
  cursor: default;
}
.select-box[clicked-="false"]:hover {
  border: 1px solid #2196f3;
  cursor: default;
}
.select-box:focus[clicked-="false"] {
  border: 1px solid #2196f3;
  outline: none;
}
.select-box:focus[clicked-="true"] {
  border: 1px solid #2196f3;
  border-bottom: none;
  outline: none;
}
.select-box:hover[clicked-="true"] {
  border: 1px solid #2196f3;
  border-bottom: none;
  cursor: default;
}
.placeholder {
  color: #757575;
  flex-grow: 1;
}

.is-selected {
  color: #424242;
  flex-grow: 1;
}

.dropdown-arrow {
  color: #757575;
  margin-left: 20px;
  padding-top: 4px;
  text-align: right;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.select-list-box {
  margin-top: 0px;
  width: 100%;
  height: 197px;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  border: 1px solid #2196f3;
  border-top: 0px;
  border-radius: 0px 0px 4px 4px;
  display: none;
  flex-direction: column;
  color: #424242;
  position: absolute;
  top: 32px;
  overflow: overlay;
  background: white;
  z-index: 4;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 4%);

  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

.select-list-box[clicked-="true"] {
  display: flex;
  animation: selectListDropdown;
  animation-duration: 0.2s;
}

.select-list-item {
  padding: 8px 8px 8px 8px;
  margin: 0px 8px 0px 8px;
  cursor: pointer;
  list-style-type: none;
}
.selected-item {
  background: #e3f2fd;
  border-radius: 2px;
}
.select-list-item:hover {
  background: #2196f3;
  color: #fafafa;
  border-radius: 4px;
  text-shadow: 0.5px -1px rgba(0, 0, 0, 12%);
}

/* width */
::-webkit-scrollbar {
  display: none;
  width: 8px;
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b0bec5;
  width: 4px;
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  display: none;
}
