@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.trunks-text {
    font-size: 14px;
    color: #212121;
    line-height: 160%;
    max-width: 40rem
}

.trunks-text.secondary {
    color: #757575;
}

.trunks-text.success {
    color: #4CAF50;
}

.trunks-text.warning {
    color: #FFB300;
}

.trunks-text.danger {
    color: #E53935;
}

.trunks-text.disabled {
    color: #BDBDBD;
}

.highlight {
    background-color: #FFECB3;
    border-radius: 2px;
    width: fit-content;
}

.trunks-text.code {
    font-family: 'Azeret Mono', monospace;
    background-color: #F5F5F5;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    padding: 2px 3px;
    color: #424242;
    font-size: 12px;;
    width: fit-content;
}

.trunks-text.keyboard {
    background-color: #F5F5F5;
    border-radius: 2px;
    font-size: 12px;;
    padding: 2px 3px;
    box-shadow: 0px 2px 0px 0px #E0E0E0;
    width: fit-content;
    color: #757575;
    margin: 0px 2px;
}