
.App {
  font-family: sans-serif;
  background: #ffffff;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.column1 {
  flex-grow: 1;
}
.column2 {
  flex-grow: 1;
}
.column3 {
  flex-grow: 1;
}

html {
  background: #ffffff;
  height: 100vh;
}

body {
  margin: 0px;
}

.display-box {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: fit-content;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.display-box-viewer {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 16px;
}
.display-box-viewer > * {
 margin: 8px;
}

.display-box-description {
  width: 100%;
  padding: 16px 16px;
  border-top: 1px solid #e0e0e0;
}
.button-holder > * {
  margin: 8px;
}